@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 w-10 h-10 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }

  .form-input {
    @apply w-full bg-transparent outline-none p-3;
  }

  .error {
    @apply border border-red-600 text-red-600;
  }

  .success {
    @apply border border-green-600 text-green-600;
  }

  .row-wrap {
    flex-flow: row wrap;
  }

  .slick-slide > div {
    margin: 0 10px !important;
  }
  .slick-list {
    margin: 0 -10px !important;
  }
}